{% load static %}

<div data-answer-id="{{ answer.id }}" data-question-id="{{ answer.question_id }}" class="answer card w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-2 d-flex flex-column gap-2">
                <div class="border mt-2 ratio ratio-1x1 rounded">
                    <img src="{{MEDIA_URL}}{{ answer.author.profile.avatar }}" alt="Image" class="img-fluid rounded">
                </div>
                {% include 'layouts/rating.html' with rating=answer.rating has_voted=answer.has_voted %}
            </div>
            <div class="col-9">
                <p class="card-text">{{ answer.content }}</p>
                {% if question.author == user %}
                    <div class="d-flex gap-3">
                        <input class="form-check-input correct-checkbox" type="checkbox" value="" id="correctInput1" {% if answer.is_correct %} checked {% endif %}>
                        <label for="correctInput1">Correct!</label>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>