{% load static %}

<div class="d-flex gap-1">
    <div class="border rounded p-1 px-2"><span class="rating">{{ rating }}</span></div>
    {% if user.is_authenticated %}
    <button class="{% if has_voted %}disabled {% endif %}like-button btn btn-primary p-1 d-flex align-items-center justify-content-center" data-type="like">
        <i class="bi bi-hand-thumbs-up"></i>
    </button>
    <button class="{% if has_voted %}disabled {% endif %}dislike-button btn btn-danger p-1 d-flex align-items-center justify-content-center" data-type="dislike">
        <i class="bi bi-hand-thumbs-down"></i>
    </button>
    {% endif %}
</div>