{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex gap-3 align-items-center">
        <h1>Tag: </h1>
        <h1>{{ tag }}</h1>
    </div>
    <div class="d-flex flex-column gap-3">
        {% if not questions %}
            <div>No questions with this tag :(</div>
        {% endif %}

        {% for question in questions %}
            {% include 'layouts/question.html' %}
        {% endfor %}
    </div>

    {% if questions %}
        {% include 'layouts/pagination.html' %}
    {% endif %}

{% endblock %}
